* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bitcount Grid Double", sans-serif;
    font-size: 20px;
    overflow: hidden;
    background-color: #0a0609;
    color: #bc3908;
}

.screen {
    color: #bc3908;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

.left-side {
    width: 65%;
    height: 95%;
    padding: 0.5% 0% 0.5% 0.5%;
}

.right-side {
    width: 35%;
    height: 95%;
    padding: 0.5%;
    display:flex;
    flex-direction: column;
    gap: 0.5%;
}

.bottom {
    padding: 0% 0.5% 0.5% 0.5%;
    width: 100%;
    height: 5%;
}

.terminal {
    height: 100%;
    border-style: dashed;
    border-color: #941b0c;
    padding: 1%
}

.input-bar{
    display: flex;
    align-items: center;
    height: 100%;

    border-style: dashed;
    border-color: #941b0c;
    padding: 0% 1% 0% 1%;
}

.input-bar #input-symbol {
    margin-right: 0.5%;
}

.input-bar input {
    width: 100%;
    border: 0px;
    outline:none;
}

.right-side .terminal {
    height: 50%
}
